<%= @recipe.name %> Show page
<br>
Total Cost: $<span id="recipe-cost"><%= recipe_cost %></span>
<br>
Number of Units: <input type="number" id="num-of-units">
<br>
Cost Per Unit: $<span id="cost-per-unit"></span>
<br>
Ingredients
<ul>
	<% if @recipe_ingredients %>
		<% @recipe_ingredients.each do |recipe_ingredient| %>
		<% cost_per_gram = (recipe_ingredient.ingredient.cost * 1.0)/recipe_ingredient.ingredient.amount %>
			<li>
				<ul>
					<li>Ingredient: <%= recipe_ingredient.ingredient.name %> <%= button_to "Remove Ingredient", recipe_ingredient_url(recipe_ingredient.id), method: :delete %> </li>
					<li>Amount: <%= recipe_ingredient.amount %> grams</li>
					<li>Cost/gram: $<%= cost_per_gram %> </li>
					<li>Cost for Recipe: $<%= cost_per_gram * recipe_ingredient.amount %></li>
				</ul>
			</li>
		<% end %>
	<% end %>
</ul>
<form action="<%= recipe_ingredients_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="recipe_ingredient[recipe_id]" value="<%= @recipe.id %>">
	<select name="recipe_ingredient[ingredient_id]">
		<% @ingredients.each do |ingredient| %>
			<option value="<%= ingredient.id %>"><%= ingredient.name %></option>
		<% end %> 
	</select>
	<label for="recipe_ingredient_amount">Amount:</label>
	<input type="number" id="recipe_ingredient_amount" name="recipe_ingredient[amount]">
	<input type="submit" value="Add Ingredient"></input>
</form>